
events.csv
members.csv
.ipynb_checkpoints/Marketing_Project-checkpoint.ipynb
categories_new.csv
cities_new.csv
events_all_new.csv
groups_austin.csv
members_new.csv
rsvps_all_new.csv
.ipynb_checkpoints/Matthew_split_groups-checkpoint.ipynb
.ipynb_checkpoints/Matthew_whole_data_set-checkpoint.ipynb
